In [1]:
import os

In [2]:
db_user = os.getenv("USER")
db_password = os.getenv("DB_PASSWORD")

In [3]:
%load_ext sql

In [4]:
%sql postgresql://$db_user:$db_password@127.0.0.1/hotjar_task

'Connected: elsissitati@hotjar_task'

In [5]:
%sql select * from page_views_dim

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
3 rows affected.

[(1, 'sites_2000_daily_pageviews'),
 (2, 'sites_20000_daily_pageviews'),
 (3, 'sites_200000_plus_daily_pageviews')]

In [6]:
%sql select * from page_view_frequency_fact limit 5

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
5 rows affected.

[(1, 'acd43f22-d309-11e9-a770-00e04c6803e4', 1, 2),
 (2, 'acd43f23-d309-11e9-a770-00e04c6803e4', 1, 1),
 (3, 'acd43f24-d309-11e9-a770-00e04c6803e4', 1, 5),
 (4, 'acd43f25-d309-11e9-a770-00e04c6803e4', 1, 3),
 (5, 'acd43f26-d309-11e9-a770-00e04c6803e4', 1, 10)]

In [7]:
%sql select * from currency_dim

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
2 rows affected.

[(1, 'eur'), (2, 'usd')]

In [8]:
%sql select * from billing_cycle_dim

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
2 rows affected.

[(1, 'monthly'), (2, 'yearly')]

In [9]:
%sql select * from events_information_dim limit  5

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
5 rows affected.

[(1, 'acd43f22-d309-11e9-a770-00e04c6803e4', 'subscription_created', 'acc-13442', datetime.datetime(2019, 8, 27, 14, 17, 11, 918335), datetime.datetime(2019, 8, 27, 14, 17, 15, 918335), 'http://www.gdgt1cpt2ri0.com/w7dsvsbk/7n0ztux3/na8q1hclegckvlo/zxilje/lkle2pfl9q/6unie2ojck/wmxq3qn1ec'),
 (2, 'acd43f23-d309-11e9-a770-00e04c6803e4', 'subscription_created', 'acc-13025', datetime.datetime(2019, 8, 27, 14, 17, 11, 918335), datetime.datetime(2019, 8, 27, 14, 17, 15, 918335), 'http://www.qveak79goxia.com/8m6x73kjctp7m/yiizx0vab9/ioxjnf/puiqs8qngufe/i8ebttp7w/3aoet31o6n7kbzuy'),
 (3, 'acd43f24-d309-11e9-a770-00e04c6803e4', 'subscription_created', 'acc-11689', datetime.datetime(2019, 8, 27, 14, 17, 14, 918335), datetime.datetime(2019, 8, 27, 14, 17, 15, 918335), 'http://www.db4szx9qcg1aj.com/'),
 (4, 'acd43f25-d309-11e9-a770-00e04c6803e4', 'subscription_created', 'acc-16681', datetime.datetime(2019, 8, 27, 14, 17, 13, 918335), datetime.datetime(2019, 8, 27, 14, 17, 15, 918335), 'http://www.l2mdwl4jor0aid79.com/m8lcy9g2qnnk/116wnooyh1c8'),
 (5, 'acd43f26-d309-11e9-a770-00e04c6803e4', 'subscription_created', 'acc-16206', datetime.datetime(2019, 8, 27, 14, 17, 12, 918335), datetime.datetime(2019, 8, 27, 14, 17, 15, 918335), 'http://www.dxypuiklsc98e.com/58c9/p2061jvbu0/ug8rj/iuc81b')]

In [10]:
%sql select * from accounts_information_dim limit 5

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
5 rows affected.

[(1, 'acd43f22-d309-11e9-a770-00e04c6803e4', 'acc-13442', "['org-49772']"),
 (2, 'acd43f23-d309-11e9-a770-00e04c6803e4', 'acc-13025', "['org-46185']"),
 (3, 'acd43f24-d309-11e9-a770-00e04c6803e4', 'acc-11689', "['org-48692', 'org-35895']"),
 (4, 'acd43f25-d309-11e9-a770-00e04c6803e4', 'acc-16681', "['org-45640', 'org-31339', 'org-35178']"),
 (5, 'acd43f26-d309-11e9-a770-00e04c6803e4', 'acc-16206', "['org-39940', 'org-37829', 'org-32434']")]

In [11]:
%sql select * from event_information_fact limit 5

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
5 rows affected.

[(1, 12, 1, 1, 1, 1),
 (2, 13, 1, 2, 2, 2),
 (3, 17, 1, 1, 3, 3),
 (4, 5, 2, 2, 4, 4),
 (5, 13, 2, 2, 5, 5)]

In [23]:
%sql select DATE_TRUNC('day',recieved_at) from  events_information_dim limit 5

 * postgresql://elsissitati:***@127.0.0.1/hotjar_task
5 rows affected.

[(datetime.datetime(2019, 8, 27, 0, 0),),
 (datetime.datetime(2019, 8, 27, 0, 0),),
 (datetime.datetime(2019, 8, 27, 0, 0),),
 (datetime.datetime(2019, 8, 27, 0, 0),),
 (datetime.datetime(2019, 8, 27, 0, 0),)]